body {
  background-image: url(../images/pattern-background-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 50vh;
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(224, 100%, 94%);
}
.card-summary {
  padding: 20px 20px;
}
.card {
  border-radius: 10px;

  max-width: 390px;
  max-height: 1500px;
  margin: 100px auto;
  background: hsl(0, 0%, 100%);
  margin-bottom: 50px;
}
.card-wrapper {
  display: block;

  border-radius: 10px;
  background: white;
  overflow: hidden;
}
.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
h2 {
  text-align: center;
  opacity: 0.8;
}
.card-info {
  text-align: center;
  font-weight: 400;
  opacity: 0.7;
  font-weight: 500;
}
button {
  display: block;

  margin: 10px auto;
  padding: 12px 60px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  box-shadow: 10px 10px 20px hsl(245, 75%, 52%);
}

.ending {
  background: hsl(245, 75%, 52%);
}
.summary {
  border: 1px solid transparent;
  border-radius: 10px;
  background: hsl(225, 100%, 98%);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.order-summary {
  display: flex;
  align-items: center;
  gap: 20px;
}
.price,
.annual {
  display: block;
}
.price {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}
.annual {
  font-weight: bold;
}
.order-change {
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
  font-size: 13px;
}
.cancel {
  display: flex;
  justify-content: center;
  text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
